<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weleadin.connection">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <service android:name=".service.NettyService"
            android:process=":remote"
            android:exported="true"/>
        <receiver android:name=".service.AlertReceiver"/>

        <service
            android:name=".service.NettyService$InnnerService"
            android:exported="true"
            android:process=":remote" />


        <service
            android:name="com.weleadin.connection.keep.LocalService"
            android:exported="true" />
        <service
            android:name="com.weleadin.connection.keep.LocalService$InnnerService"
            android:exported="true" />


    </application>
</manifest>